@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.timerInput {
  font-family: 'Gloria Hallelujah';
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-weight: bold;
}

.listcontainer {
  display: inline;
}

.somersetPoster {
  display: block;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  left: 0;
  margin-left: 550px;
  position: absolute;
  bottom: -25px;
}

.arrow {
  text-decoration: none;
  color: #000000;
}
.arrow:visited {
  text-decoration: none;
}
.arrow:hover {
  text-decoration: none;
}
.arrow:focus {
  text-decoration: none;
}
.arrow:hover, .arrow:active {
  text-decoration: none;
}

/* Remove Default Router Link styling  */
.about {
  text-decoration: none;
  color: #000000;
  position: relative;
}

.aboutlist {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.theatre_underline {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 24px;
}

.theatre_underline:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;  
}

.theatre_underline:hover {
  color: white;
}

.theatre_underline:hover:before {
   visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.underline {
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 24px;
}

span {
  font-size: 36px;
}

.underline:before {
   content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; 
}

.underline:hover {
  color: black;
}

.underline:hover:before {
    visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.somersetIcon {
  width: 150px;
  height: 150px;
}
h2 > a {
  text-decoration: none;
  color: black;
  position: relative;
}

h2 > a:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover {
  color: black;
}

h2 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.septemberIcon {
  width: 150px;
  height: 150px;
  padding-right: 40px;
}

.trilogyIcon {
  width: 150px;
  height: 150px;
  padding-left: 15px;
}

.fadeIn {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

.vidcontainer {
  animation-name: change_color;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  margin: 0;
  padding: 50px;
}

@keyframes change_color {
  from {background: white;}
  to {background: black;}
};

@-webkit-keyframes color_change {
	from { background: white; }
	to { background: black; }
}

#fadeArrow {
  color: white;
}